<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>PortOne 결제 PAge</h1>
    <a  class="auth_btn" href="javascript:void(0)">인증요청</a>
    <hr>
    <a class="pay_btn" href="javascript:void(0)">결제요청</a>
    <hr>
    <a class="select_btn" href="javascript:void(0)">결제 정보 확인</a>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>

        //인증
        IMP.init("imp75116375");

        const auth_btn=document.querySelector('.auth_btn');
        auth_btn.addEventListener('click',function(){

          IMP.certification({
            pg: "inicis_unified",
            merchant_uid: "test_lwk1pudq",
          },function(resp){
            console.log(resp);
            const imp_uid=resp.imp_uid;

            axios.get(`/portOne/getAuthinfo/${imp_uid}`)
            .then(response=>{console.log(response)})
            .catch(error=>{console.log(error)})
          });

        });

        //결제
        const pay_btn=document.querySelector('.pay_btn');
        pay_btn.addEventListener('click',function(){
            IMP.request_pay({
                pg: "danal",
                pay_method: "phone",
                merchant_uid: "test_lwk2kv83",
                name: "상품명-C4부스터",
                amount: 100,
                buyer_tel: "010-0000-0000",
              },function(resp){
                console.log(resp);
              });
        });

        //결제 정보 확인
        const select_btn=document.querySelector('.select_btn');
        select_btn.addEventListener('click',function(){
             axios.get(`/portOne/selectPay/{imp_uid}`)
            .then(response=>{console.log(response)})
            .catch(error=>{console.log(error)})
        })
    </script>
</body>
</html>
