<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>TEST1 Page</h1>

    NAME:<span th:text="${name}"></span><br>
    MEMO:<sapn th:text="${memo}"></sapn><br>
    MEMO.ID:<span th:text="${memo.id}"></span><br>
    MEMO.text:<span th:text="${memo.text}"></span><br>
    isAUth:<span th:text="${isAuth}"></span>

<hr>
<!--<th:block>-->
<!--    <div th:if="${isAuth}">-->
<!--        로그인 된 상태입니다..-->
<!--    </div>-->
<!--</th:block>-->
<!--<th:block>-->
<!--    <div th:unless="${isAuth}">-->
<!--        로그인 된 상태입니다.-->
<!--    </div>-->
<!--</th:block>-->

<hr>
<th:block>
    <div th:each="dto:${list}">
        <span th:text="${dto.id}"></span>
        <span th:text="${dto.text}"></span>
    </div>
</th:block>

<hr>
    <a th:href="@{/readMemo(id=${memo.id})}">이동하기</a>
    <hr>
    <a th:href="@{/readMemo/{id}(id=${memo.id})}">이동하기</a>
</body>
</html>